<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTV_final.Properties.Settings.QLTVTESTConnectionString"
            connectionString="Data Source=DESKTOP-CDFETHK;Initial Catalog=QLTVTEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>